
.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 2rem;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
}

.card-icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.card-title {
  color: #3498db;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card-content {
  color: #555;
}


@media (max-width: 600px) {
  .main-content {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    padding: 1rem;
  }

  .card {
    padding: 1rem;
  }
}


.our-Specialities {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
}

.healthcard > div:nth-child(1) {
  height: 130px;
  width: 130px;
  border-radius: 100%;
  border: 1px solid #3498db;
  align-items: center;
  padding: 3%;
}

.healthcard > div:nth-child(1) > img {
  margin-top: 25px;
}

.Clinical_Excellence {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
}

.Excellencecard {
  height: 400px;
  width: 300px;
}

.slider {
  margin-top: 3px;
}